.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 65px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 80px;
  background-color: white;
  border-radius: 50%;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items > ul {
  list-style: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 0px 12px;
  cursor: pointer;
}

.nav-items > ul > li:hover {
  text-decoration: underline;
}
.search {
  padding: 15px 0px;
}

.res-card {
  width: 260px;
  height: 270px;
  margin: 10px 10px;
  /* background-color: #f0f0f0; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.res-img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.res-content {
  padding: 10px;
}

.res-heading {
  font-size: 19px;
  margin-top: 10px;
  margin-left: 8px;
}
.res-cuisines {
  margin-top: -12px;
  font-size: 15px;
  margin-left: 8px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.res-deliverytime {
  margin-top: -12px;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
